version: '3.2'

services:

  zk1:
    image: confluentinc/cp-zookeeper:4.1.0
    ports:
      - "2181:2181"
      - "22888:22888"
    environment:
      # Zookeeper servers should be ";" separated
      ZOOKEEPER_SERVERS: "{{ ansible_host }}:22888:23888"
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2 
      ZOOKEEPER_CLIENT_PORT: 2181
